html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0 15px;
    background-color: #1b1b1b;
    /*background-image: linear-gradient(to bottom right, #cc2b5e, #753a88 );*/
    background-repeat: no-repeat;
    font-family: 'tahoma-regular', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
h1{
    color: #1DD8FF;
    font-size: 1.5em;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10px;
    font-family: 'tahoma-bold', sans-serif;
}
h2{
    color: #fff;
    font-size: 1em;
    font-family: 'tahoma-bold', sans-serif;
}
.search{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    position: fixed;
    z-index: 10;
    background-color: #1b1b1b;
}
.search input[type="text"]{
    height:25px;
    margin: 0;
    padding-left: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search input[type="submit"]{
    margin: 0;
    height: 25px;
    padding: 0 10px;
    color: #fff;
    font-size: 1.1em;
    float: right;
    background-color: #32DC73;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo{
    margin-top: 10vh;
    text-align: center;
}
.logo img{
    width: 150px;
}
/*------------------
    Scale switch
----------------------*/
.scale-switch{
    background-color: #1DD8FF;
    background-image: linear-gradient(to right, #1DD8FF, #32DC73);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    position: fixed;
    right: 15px;
    bottom: 30px;
    z-index: 1;
    border: solid 3px #fff;
    font-size: 1.5em;

}

/*------------------
    Section: Today
----------------------*/
.today{
    margin-top: 10vh;
    color: #fff;
    
}
.today-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 100%;
    background-color: #32DC73;
    background-image: linear-gradient(to right, #1DD8FF, #32DC73);
    width: 150px;
    height: 150px;
    border: solid 3px #fff;

}
.today-date{
    font-size: 0.8em;
    padding: 5px 30px;
    background-color: rgb(230, 230, 230);
    width: fit-content;
    margin: auto;
    color: #000;
    border-radius: 5px;
    font-size: 1em;
}
.today-forecust{
    font-size: 4.5em;
    font-family: 'tahoma-blod', sans-serif;
}
.scale{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}
.scale-font{
    font-size: 1.5em;
}



/*------------------
    Section: Coming days
----------------------*/
.other-days{
    margin-top: 10vh;
}
.other-days-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
}
.first-day, .second-day, .third-day{
    padding: 10px;
    width: 80px;
    height: 80px;
    background: #fff;
    color: #1b1b1b;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}
.first-day:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.third-day:nth-child(3){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.weekday{
    font-family: 'tahoma-bold', sans-serif;
    font-size: 1.8em;   
}
.other-forecust{
    font-size: 1.2em;
    color: #1DD8FF;
}

/*------------------
    footer
----------------------*/
footer{
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 15px;
    margin-top: 30px;
    position: absolute;
    bottom: 5px;
}
footer a{
    text-decoration: none;
    color: #32DC73;
}

@media screen and (min-width: 376px){
    body{
        padding: 0 30px;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.2em;
    }
    .today-forecust{
        font-size: 5.2em;
    }
    .scale-switch{
        width: 70px;
        height: 70px;
        line-height: 70px;
    
    }
    
    
}
@media screen and (min-width: 992px){
    body{
        padding: 0 50px;
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1.5em;
    }
    .today-forecust{
        font-size: 5.8em;
    }
    .scale-switch{
        width: 70px;
        height: 70px;
        line-height: 70px;
    
    }
    .other-days-flex{
        max-width: 60%;
    }
    
}

@font-face{
    font-family: tahoma-regular;
    src: url(../fonts/tahoma.ttf)
}
@font-face{
    font-family: tahoma-bold;
    src: url(../fonts/tahomabd.ttf)
}